<div id="viewDetailedAd">
    <img src="{{imgLink}}">
    <br>
    <label class="viewDetailedAd-fonts">Title:</label>
    <p id="detailsPar">{{title}}</p>
    <label class="viewDetailedAd-fonts">Description:</label>
    <p id="detailsPar">{{description}}</p>
    <label class="viewDetailedAd-fonts">Publisher:</label>
    <p id="detailsPar">{{publisher}}</p>
    <label class="viewDetailedAd-fonts">Date:</label>
    <p id="detailsPar">{{date}}</p>
    <label class="viewDetailedAd-fonts">Views:</label>
    <p id="detailsPar">{{views}}</p>
</div>

{{> footer}}


